{
  "version": "0.2.1",
  "defaults": {},
  "configurations": [
    {
      "type": "default",
      "project": "src/main.cpp",
      "args": [ "{{ example_text }}" ],
      "projectTarget": "",
      "name": "run example"
    },
    {
      "type": "default",
      "project": "src/main.cpp",
      "args": [ "{{main_text}}" ],
      "projectTarget": "",
      "name": "run real"
    },
    {
      "type": "default",
      "project": "src/main_2.cpp",
      "args": [ "{{ example_text }}" ],
      "projectTarget": "",
      "name": "run p2 example"
    },
    {
      "type": "default",
      "project": "src/main_2.cpp",
      "args": [ "{{main_text}}" ],
      "projectTarget": "",
      "name": "run p2 real"
    }
  ]
}
